{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event list</h1>
    <h3>
    <a href="{{ path("event_new") }}" class="link">create new event</a>
    </h3>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a href="{{ path("logout") }}" class="link">logout {{ app.user.username }}</a>
    {% else %}
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <a href="{{ path("user_login") }}" class="link">Login</a>
        </button>
    {% endif %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Time</th>
                <th>Location</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.time %}{{ entity.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.details }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('event_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('event_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('event_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
