{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="login col-md-5">
        <article>
            <h1>register</h1>
            <form action="{{ path('user_register') }}" method="POST">
                {{ form_errors(form) }}

                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first, {
                    label: 'Password'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    label: 'Repeat password'
                }) }}

                {{ form_rest(form) }}

                <input type="submit" value="Register" class="btn btn-primary pull-right">
            </form>
        </article>
    </section>
{% endblock %}